@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

body {
    background-color: #748DA6;
    text-align: center;
    color: #F7F6DC;
}
.info{
    margin: 20px;
    font-size: 16pt;
}
.container {
    margin: 0 auto;
    display: grid;
    
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    grid-column-gap: 7px;
    grid-row-gap: 2px;
    max-width: 300px;

}

.tile {
    color: #000;
    background-color: #D3CEDF;
    border: 2px solid #354259;
    border-radius: 10px;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24pt;
}

.announce {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    font-size: 18pt;
}

#reset-btn {
    cursor: pointer;
    height: 50px;
    width: 150px;
    border: 1px solid #354259;
    border-radius: 20px;
    background-color: #CDC2AE;
    font-size: 14pt;
}

#code{
    justify-content: center;
    align-items: center;
    font-family: "Roboto300";
    font-size: 12pt;
    
}